@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;800&display=swap');

/* *{
    margin:0;
    padding:0;
} */
body {
    font-family: 'Roboto Slab', serif;
    background: #fff8ed;
    color: #7a7264;
    padding-bottom: 10px;
}



header {
    display: flex;
}

.aboutwithname {
    margin-left: 20px;
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}

.img {
    /* display: block; */
    border-radius: 20px;
    box-shadow: 4px 4px 14px rgb(109, 109, 109);    
    /* margin-bottom: 20px; */
}

.card {
    background: #cacaca9f;
    padding: 1px 20px 20px 20px;
    border-radius: 8px;
}

.about p {
    margin: 0;
}

.other {
    padding: 1px 20px 20px 20px;  
}

h1, h2,  h3 {
    color: #3a3630;
}

.header h1 {
    font-weight: 800;
    font-size: 40px
}

.about p {
    font-weight: 300;
    font-style: normal;
}

.hobbies ul {
    font-weight: 300;   
}

.experience tbody {
    font-weight: 300;
}

.experience th, .experience td {
    padding-right: 8px;
}

.contact label {
    font-weight: 300;
}

a {
    color: rgb(114, 171, 152);
    text-decoration: none;
    transition: all .5s;
}

a:hover {
    color: aqua;
    text-decoration: underline;
}

a:active {
    color: rgb(40, 10, 236);
}

.btn {
    background:rgb(114, 171, 152);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    font-family: inherit;
    transition: all .5s;
}

.btn:hover {
    background: rgb(11, 203, 139);
    opacity: .8;
}

.table {
    text-align: center;
}

/* .table td:nth-child(2n), .table th:nth-child(2n) {
    background: #a4a4a4;
} */

.table th, .table td {
    padding: 7px 7px;
}

.table th:nth-child(2n):hover, .table td:nth-child(2n):hover {
    color:rgb(146, 177, 177);
}

.list {
    padding: 0 20px;
    margin
}

.list li {
    padding: 2px 0;
}

.list li:nth-child(2n) {
    background: rgba(214, 214, 214, 0.9);
}

.list li:hover {
    opacity: .7;
}

.form h3 {
    text-align: center;
}

.form-group label {
    display: block;
    font-size: 15px;
    color: rgba(127, 102, 102, 0.9)
}

.form-group input, .form-group textarea  {
    width: 100%;
    box-sizing: border-box;
    border: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    outline: none;
    font-family: inherit;
}

.form-row {
    margin-bottom: 10px;
    display: flex;
}

.form-row .form-group {
    /* display: inline-block; */
    margin-right: 20px;
    width: 50%;
    /* width: calc(50% - 20px); */
}

.form-row .form-group:last-child {
    margin-right: 0;
}
 

@media(max-width: 679px){
    .container{
        font-size: 0.8rem;
        padding: 20px;
    }
    .header{
        display: block;
        text-align: center;
    }
    .aboutwithname {
        margin-left: 0px;
        width: inherit;
    }

    .img{
        display: block;
        margin-bottom: 20px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 679px) {
    .form-row {
        display: block;
    }   

    .form-row .form-group {
        width: 100%;
        padding-bottom: 20px;
        margin-right: none;
    }
}